---
import Layout from "../layout/Main.astro"
---

<Layout subtitle="The personal site of" title="Ryan Arpe" sectionTitle="Selected Work">
    <!-- <div slot="role">
        <span class="role">
            :woman_technologist: Frontend Developer <span class="invert">:woman_technologist: Svelte</span>
        </span>&nbsp;
        <span class="role">
            :woman_technologist: Qlik Developer <span class="invert">:woman_technologist: Qlik</span>
        </span>&nbsp;
    </div> -->
    <div slot="img">
         <div class="imgContainer">
            <a href="/svelte">
                <img width="60" height="80" src="/assets/Svelte_Logo.svg" alt="Svelte"/>
            </a> 
            <a href="/react">
                <img width="70" height="90" src="/assets/React-icon.svg" alt="React" />
            </a>
            <a href="/vue">
                <img width="70" height="90" src="/assets/Vue.js_Logo_2.svg" alt="Vue" />
            </a>
            <a href="/preact">
                <img width="60" height="80" src="/assets/preact.svg" alt="Preact" />
            </a>
        </div>
    </div>
    
</Layout>

<style lang="scss">
    $w-s: 750px;
    .imgContainer {
          display: flex;
             
        align-items: center;
        justify-content: start;
        gap: 40px;
      }

    .role {
        position: relative;
        display: inline-block;
        font-weight: 900;
        color: var(--t-bg);
        background-color: var(--t-fg);
        padding: 0.25em 0.5em;
        z-index: 2;

        @media (min-width: $w-s) {
          font-size: var(--f-u3);
        }

        + .role {
          margin-left: 1em;
        }

        &:nth-of-type(1) {
          .invert {
            background-color: var(--c-pink);
          }
        }

        &:nth-of-type(2) {
          .invert {
            background-color: var(--c-blue);
          }
        }

        &:nth-of-type(3) {
          .invert {
            background-color: var(--c-green);
          }
        }

        &:hover {
          .invert {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }

      .invert {
        position: absolute;
        color: var(--t-fg);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
        transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
      }
</style>